<section class="header_section">
    <div class="logo">
        <i class="fa-solid fa-bars"></i>
    </div>
    <nav class="nav-menu">
        <ul>
            <li ><a  href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/800px-Flag_of_the_United_States.svg.png" alt="">
            </a></li>
            <li><a href=""><i class="fa-solid fa-maximize"></i></a></li>
            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
            <li><a href=""><i class="fa-regular fa-bookmark"></i></a></li>
            <li><a href=""><i class="fa-regular fa-envelope"></i></a></li>
            <li><a href=""><i class="fa-regular fa-comments"></i></a></li>
        </ul>
    </nav>
</section>
