<section >
    <div class="sidebar-section">
        <div class="side-min-nav">
            <img src="https://angular-material.fusetheme.com/assets/images/logo/logo.svg" alt="">
            <div class="side-nav-icon">
                <i class="fa-regular fa-bell"></i> 
                <i class="fa-regular fa-circle-user"></i>
            </div>
        </div>
        <div class="side-profile">
            <div>
                <div>
                    <img src="https://angular-material.fusetheme.com/assets/images/avatars/brian-hughes.jpg" alt="">
                </div>
                <div class="sidebar-profile-text">
                    <h5>Brian Hughes</h5>
                    <p>hughes.brian@company.com</p>
                </div>
            </div>
        </div>
        <!-- All Tab -->
        <div>
            <div class="tab-box-text">
                <h4>DashBoard</h4>
                <p>Unique dashboard designs </p>
            </div>
            <ul>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-clipboard-check"></i>
                    <h5>Project</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-chart-pie"></i>
                    <h5>Analytics</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-money-bills"></i>
                    <h5>Finance</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <h5>Cerypto</h5>
                </a></li>
            </ul>
        </div>
    
        <div>
            <div class="tab-box-text">
                <h4>Application</h4>
                <p>Custom made application designs</p>
            </div>
            <ul>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-clipboard-check"></i>
                    <h5>Project</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-chart-pie"></i>
                    <h5>Analytics</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-money-bills"></i>
                    <h5>Finance</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <h5>Cerypto</h5>
                </a></li>
            </ul>
        </div>
    
        <div class="tab-box">
            <div class="tab-box-text">
                <h4>Pages</h4>
                <p>Custom made application designs</p>
            </div>
            <ul>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-clipboard-check"></i>
                    <h5>Project</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-chart-pie"></i>
                    <h5>Analytics</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-money-bills"></i>
                    <h5>Finance</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <h5>Cerypto</h5>
                </a></li>
            </ul>
        </div>
    
        <div class="tab-box">
            <div class="tab-box-text">
                <h4>User Interface</h4>
                <p> Building blocks of the UI & UX</p>
            </div>
            <ul>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-clipboard-check"></i>
                    <h5>Project</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-chart-pie"></i>
                    <h5>Analytics</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-money-bills"></i>
                    <h5>Finance</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <h5>Cerypto</h5>
                </a></li>
            </ul>
        </div>
    <hr>
        <div class="tab-box">
            <div class="tab-box-text">
                <h4>Documentaion</h4>
                <p>  Everything you need to know about Fuse </p>
            </div>
            <ul>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-clipboard-check"></i>
                    <h5>Project</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-chart-pie"></i>
                    <h5>Analytics</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-money-bills"></i>
                    <h5>Finance</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <h5>Cerypto</h5>
                </a></li>
            </ul>
        </div>
    
        <hr>
        <div class="tab-box">
            <div class="tab-box-text">
                <h4>Navigation Features</h4>
                <p> Collapsable levels & badge styles </p>
            </div>
            <ul>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-clipboard-check"></i>
                    <h5>Project</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-chart-pie"></i>
                    <h5>Analytics</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-money-bills"></i>
                    <h5>Finance</h5>
                </a></li>
                <li class="tab-btn"><a href="">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <h5>Cerypto</h5>
                </a></li>
            </ul>
        </div>
        <div class="footer-img">
            <img src="https://angular-material.fusetheme.com/assets/images/logo/logo-text-on-dark.svg" alt="">
        </div>
    </div>
</section>
