<section>
    <div class="team-cards">
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/female-10.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/male-19.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/male-14.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/male-01.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/female-20.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/female-01.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/female-02.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/male-02.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-img-text">
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/female-03.jpg" alt="">
                
                    <span>Nadia Mcknight</span>
                    <span>Project Director</span>
            </div>
            <div class="team-card-bottom">
                <div class="team-bottom-btn btn2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="team-bottom-btn"> 
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone</span>
                </div>
            </div>
        </div>
    </div>
</section>
