<section class="project-section">
    <div class="project-hero">
        <div class="project-hero-img-part">
            <div>
                <img src="https://angular-material.fusetheme.com/assets/images/avatars/brian-hughes.jpg" alt="">
            </div>
            <div>
                <h1>Welcome back, Brain!</h1>
                <p><span><i class="fa-solid fa-bell"></i> </span> You have 2 new messages and 15 new tasks</p>
            </div>
        </div>
        <div class="button-group">
            <button mat-raised-button class="primary1"><i class="fa-regular fa-envelope" ></i>Messages</button>
            <button mat-raised-button class="btn2"><i class="fa-solid fa-gear"></i>Settings</button>
        </div>
    </div>
<div class="project-body">
        <mat-tab-group>
            <mat-tab label="Home"><app-homecontent></app-homecontent></mat-tab>
            <mat-tab label="Budget"> Content 2 </mat-tab>
            <mat-tab label="Team 9"> <app-teamcontent></app-teamcontent> </mat-tab>
          </mat-tab-group>

</div>    
</section>
