// * {
//     outline: solid red;
// }

// .homeProject-section {
//   // overflow: hidden;
// }
.project-cards {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.project-card {
  background-color: white;
  height: 220px;
  // width: 100%;
  max-width: 100%;
  border-radius: 15px;
  padding: 24px;
}

.card-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  h1 {
    padding: 0;
    margin: 0;
    font-size: 64px;
    font-weight: 700;
  }
  h4 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
  p {
    color: rgb(145, 143, 143);
    font-size: 13px;
  }
  span {
    font-size: 16px;
    font-weight: bold;
  }
}

.github-overview {
  margin: 20px auto;
  max-width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 24px;
  .github-overview-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      padding: 10px 15px;
      margin: 5px;
      border-radius: 100px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: rgba(143, 143, 143, 0.103);
      }
    }
    .active {
      background-color: rgba(143, 143, 143, 0.616);
      &:hover {
        background-color: rgba(143, 143, 143, 0.432);
      }
    }
  }

  .github-overview-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    gap: 15px;
    max-width: 100%;
  }
  .github-overview-body-card {
    height: 400px;
    max-width: 440px;
  }
}

.overview-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.overview-card1 {
  color: rgb(55, 48, 163);
  background: rgba(56, 48, 163, 0.11);
}

.overview-card2 {
  color: rgb(22, 101, 52);
  background: rgba(22, 101, 52, 0.11);
}
.overview-card {
  border-radius: 15px;
  padding: 0px 60px;
  max-width: 200px;
  max-height: 150px;
}

.overview-body {
  text-align: center;
  margin: 28px auto;
  h1 {
    padding: 0;
    margin: 0;
    font-size: 64px;
    font-weight: 700;
  }
  h4 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
}
.overview-bottom-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px auto;
}

.bottom-card {
  background-color: rgba(201, 202, 202, 0.486);
  border-radius: 15px;
  padding: 0px 10px;
  max-width: 100px;
  max-height: 150px;
  color: black;
  .bottom-body {
    text-align: center;
    margin: 28px auto;
    h1 {
      padding: 0;
      margin: 0;
      font-size: 30px;
      font-weight: 500;
    }
    h4 {
      padding: 0;
      margin: 0;
      font-size: 13px;
      font-weight: 100;
    }
  }
}

.tasks {
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.task-dis {
  max-width: 100%;
  background-color: white;
  position: relative;
  border-radius: 10px;

  .task-dis1 {
    padding: 24px;
  }
  .github-overview-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      padding: 10px 15px;
      margin: 5px;
      border-radius: 100px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: rgba(143, 143, 143, 0.103);
      }
    }
    .active {
      background-color: rgba(143, 143, 143, 0.616);
      &:hover {
        background-color: rgba(143, 143, 143, 0.432);
      }
    }
  }
}

.tasks-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(119, 119, 119, 0.075);
  border-radius: 0px 0px 10px 10px;
  .tasks-bottom-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid rgba(51, 51, 51, 0.164);
    border-bottom: 1px solid rgba(51, 51, 51, 0.164);
    .tasks-num{
      font-size: 36px;
      font-weight: 800;
      line-height: -1.8px;
    }
    .tasks-text{
      font-size: 14px;
      line-height: 21px;
    }
  }
  .btn1 {
    border-right: 1px solid rgba(51, 51, 51, 0.164);
    border-radius: 0px 0px 0px 10px;
  }
  .btn2 {
    border-radius: 0px 0px 10px 0px;
  }
}

.schedule {
  padding: 24px;
}

.scheduel-sub-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  // padding: 15px 0px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.164);
}

// .scheduel-sub-contents-text{
//   // display: flex;
//   // justify-content: space-between;
//   // padding-right: 250px;
// }

.scheduel-sub {
  border-bottom: 0px solid rgba(51, 51, 51, 0.164);
}
.scheduel-sub-contents-icons {
  color: rgba(51, 51, 51, 0.699);
  padding: 5px 0px 15px 0px;
  span {
    font-size: 12px;
    padding: 0px 10px 0px 5px;
  }
}

.chart {
  max-width: 580px;
  margin: 35px auto;
  padding: 0;
  min-width: 450px !important;
}

@media (max-width: 1180px) {
  .github-overview-body{
    flex-direction: column;
    // align-items:flex-start;
  }
  .tasks-bottom {
    margin-top: 100px;
  }
  .tasks {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .task-dis1{
    margin-bottom: 100px;
  }
}

@media (max-width: 750px) {
  .project-cards {
    grid-template-columns: repeat(2, 12fr);
  }
  .project-card {
    max-width: 100%;
  }
  .github-overview-body {
    flex-direction: column;
  }
  #chart {
    max-width: 300px;
    margin: 35px auto;
    padding: 0;
    min-width: 250px !important;
  }

  .scheduel-sub-contents {
    max-width: 100%;
  }
  .tasks {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  // .task-dis{
  //   max-width: 700px;
  // }
}

@media (max-width: 520px) {
  .project-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .github-overview-nav {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
  .github-overview-body {
    flex-direction: column;
  }

  .overview-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tasks {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  .github-overview {
    height: 1100px;
  }
  .overview-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .overview-bottom-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .overview-card {
    max-width: 100%;
  }
  .bottom-card {
    max-width: 100%;
  }

  .tasks {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
