<section class="homeProject-section">
  <div class="project-cards">
    <div class="project-card">
      <div class="card-nav">
        <h3>Summary</h3>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="card-body">
        <h1>21</h1>
        <h4>Due Task</h4>
        <br />
        <p>Complete:<span> 13</span></p>
      </div>
    </div>
    <div class="project-card">
      <div class="card-nav">
        <h3>Summary</h3>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="card-body">
        <h1>21</h1>
        <h4>Due Task</h4>
        <br />
        <p>Complete:<span> 13</span></p>
      </div>
    </div>
    <div class="project-card">
      <div class="card-nav">
        <h3>Summary</h3>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="card-body">
        <h1>21</h1>
        <h4>Due Task</h4>
        <br />
        <p>Complete:<span> 13</span></p>
      </div>
    </div>
    <div class="project-card">
      <div class="card-nav">
        <h3>Summary</h3>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="card-body">
        <h1>21</h1>
        <h4>Due Task</h4>
        <br />
        <p>Complete:<span> 13</span></p>
      </div>
    </div>
  </div>

  <div class="github-overview">
    <div class="github-overview-nav">
      <span>Github Issues Summary</span>
      <div>
        <a class="" href="">Last Week</a>
        <a class="active" href="">This Week</a>
      </div>
    </div>
    <div class="github-overview-body">
      <div class="github-overview-body-card">
        <p>New vs. Closed</p>
        <div class="chart">
            <apx-chart
            class="apxChart"
            [series]="series"
            [chart]="chart"
            [title]="title"
            [legend]="legend"
          ></apx-chart>
        </div>
        
      </div>
      <div class="github-overview-body-card">
        <p>Overview</p>
        <div class="overview-cards">
          <div class="overview-card overview-card1 ">
            <div class="overview-body">
              <h1>21</h1>
              <h4>Due Task</h4>
            </div>
          </div>
          <div class="overview-card overview-card2">
            <div class="overview-body">
              <h1>21</h1>
              <h4>Due Task</h4>
            </div>
          </div>
        </div>
        <div class="overview-bottom-card">
            <div class="bottom-card">
                <div class="bottom-body">
                  <h1>21</h1>
                  <h4>Due Task</h4>
                </div>
              </div>
              <div class="bottom-card">
                <div class="bottom-body">
                  <h1>21</h1>
                  <h4>Due Task</h4>
                </div>
              </div>
              <div class="bottom-card">
                <div class="bottom-body">
                  <h1>21</h1>
                  <h4>Due Task</h4>
                </div>
              </div>
              <div class="bottom-card">
                <div class="bottom-body">
                  <h1>21</h1>
                  <h4>Due Task</h4>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tasks">
    <div class="task-dis">
        <div class="task-dis1">
            <div class="github-overview-nav">
                <span>Task Distribution</span>
                <div>
                  <a class="" href="">Last Week</a>
                  <a class="active" href="">This Week</a>
                </div>
              </div>
              <div class="chart">
                <apx-chart [series]="chartSeries" [chart]="chartDetails" [labels]="chartLabels" [title]="chartTitle" [dataLabels]="chartDataLabels"></apx-chart>
              </div>
        </div>

          <div class="tasks-bottom">
            <div class="tasks-bottom-btn btn1">
                <span class="tasks-num">584</span>
                <span class="tasks-text">New Tasks</span>
            </div>
            <div class="tasks-bottom-btn btn2">
                <span class="tasks-num">584</span>
                <span class="tasks-text">New Tasks</span>
            </div>
          </div>
  
          
    </div>
    <div class="task-dis">
      <div class="schedule">
        <div class="github-overview-nav">
          <span>Schedule</span>
          <div>
            <a class="" href="">Last Week</a>
            <a class="active" href="">This Week</a>
          </div>
        </div>
        <div class="scheduel-contents">
          <div class="scheduel-sub-contents">
            <div class="scheduel-sub-contents-text">
              <span>Group Meeting</span>
              <div class="scheduel-sub-contents-icons">
                <i class="fa-solid fa-clock"></i><span> in 32 minutes</span>
                <i class="fa-solid fa-location-dot"></i><span> Conference room 1B</span>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="scheduel-sub-contents">
            <div class="scheduel-sub-contents-text">
              <span>Group Meeting</span>
              <div class="scheduel-sub-contents-icons">
                <i class="fa-solid fa-clock"></i><span> in 32 minutes</span>
                <i class="fa-solid fa-location-dot"></i><span> Conference room 1B</span>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="scheduel-sub-contents">
            <div class="scheduel-sub-contents-text">
              <span>Group Meeting</span>
              <div class="scheduel-sub-contents-icons">
                <i class="fa-solid fa-clock"></i><span> in 32 minutes</span>
                <i class="fa-solid fa-location-dot"></i><span> Conference room 1B</span>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="scheduel-sub-contents">
            <div class="scheduel-sub-contents-text">
              <span>Group Meeting</span>
              <div class="scheduel-sub-contents-icons">
                <i class="fa-solid fa-clock"></i><span> in 32 minutes</span>
                <i class="fa-solid fa-location-dot"></i><span> Conference room 1B</span>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="scheduel-sub-contents">
            <div class="scheduel-sub-contents-text">
              <span>Group Meeting</span>
              <div class="scheduel-sub-contents-icons">
                <i class="fa-solid fa-clock"></i><span> in 32 minutes</span>
                <i class="fa-solid fa-location-dot"></i><span> Conference room 1B</span>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="scheduel-sub-contents">
            <div class="scheduel-sub-contents-text">
              <span>Group Meeting</span>
              <div class="scheduel-sub-contents-icons">
                <i class="fa-solid fa-clock"></i><span> in 32 minutes</span>
                <i class="fa-solid fa-location-dot"></i><span> Conference room 1B</span>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="scheduel-sub-contents">
            <div class="scheduel-sub-contents-text">
              <span>Group Meeting</span>
              <div class="scheduel-sub-contents-icons">
                <i class="fa-solid fa-clock"></i><span> in 32 minutes</span>
                <i class="fa-solid fa-location-dot"></i><span> Conference room 1B</span>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="scheduel-sub-contents scheduel-sub">
            <div class="scheduel-sub-contents-text">
              <span>Group Meeting</span>
              <div class="scheduel-sub-contents-icons">
                <i class="fa-solid fa-clock"></i><span> in 32 minutes</span>
                <i class="fa-solid fa-location-dot"></i><span> Conference room 1B</span>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
